@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;1,8..144,300&display=swap');

* {
    margin: 0 auto ;
    font-family: 'Source Sans Pro';
    word-wrap: break-word;
    color: black;
}

.logo-header{
    width: 300px;
    height: auto; 
    
}

/*en-tête*/

header{
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: center;
}

/*navigation*/

.nav-header{
    background-color: #ffe9cfbe;
    padding: 10px;
    position: relative;
    top: 10px;
    margin: 15px 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    

}

.nav-header a {
    padding: 0 15px;
    
}
   
.nav-header a:hover {
    color: #0477BF;
}

/*bannière*/

.bannière{
    background: url(../test/pexels-enzo-muñoz-6729354.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 85%;
}

.bannière-event{
    background: url(../test/pexels-cong-h-1492219.jpg);
    opacity: 85%;
    background-size: cover;
    background-repeat: no-repeat;
}